/* 
 * Vendor 
 */
@import "vendor/normalize";

/* 
 * Batter! 🍰
 */
@import "batter/bits";
@import "batter/functions";
@import "batter/base";
// @import "batter/oldinlineblockgrid";
@import "batter/thisgridisprettyflexy";
@import "batter/typography";
// @import "batter/helpers";

/* 
 * Components 
 */

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.vertical-align--table {
  width: 100%;
  height: 100%;
  display: table;

  .vertical-align--table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}

html, body {
  height: 100%;
  text-align: center;
}

.flex {
  div {
    height: 1.5rem;
    margin-bottom: $gutter-width;
    background-clip: content-box;
    background-color: darken(color(off-white), 2);  
  }
}
