$color-white: whitesmoke;
$color-black: #1e2027;

$color-text-base: #3a3a3a;
$color-text-header: #4a4a4a;

$color-background: $color-white;
$color-background-dark: $color-black;

$baseline: 16px;
$base-font-size: 16;