@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

$open-sans: 'Open Sans', sans-serif;

html {
  color: color(text);
  font-size: $base-font-size + 0px;
}

body {
  line-height: 1.8em;
  @include font($open-sans, $base-font-size, 300);
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

%header {
  margin-top: 0;
  margin-bottom: base(1);
  //text-rendering: optimizeLegibility;
  color:  color(text);
  line-height: 1.1em;
  @include font($open-sans, 16, 300);
  &::selection{
    //color: #000;
  }
}

//Header Sizing
$headers: (h1: 48, h2: 40, h3: 32, h4: 28, h5: 22, h6: 16);

@each $header, $size in $headers {
  #{$header} {
    @extend %header;
    @include font-size($size);
  }
}