@import "normalize";

@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";

html {
  background-color: color(white);
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.vertical-align--table {
  width: 100%;
  height: 100%;
  display: table;
  .vertical-align--table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}

html, body {
  height: 100%;
  text-align: center;
}

.grid{
  margin: base(2) 0;

  div {
    height: base(2);
    margin-bottom: $gutter-width;
    background-clip: content-box;
    background-color: darken(color(white), 12);  
  }
}
