{% extends "layouts/layout.html" %}

{% block title %}Batter — Index {% endblock %}
{% block content %}
  
  {% include "includes/navigation.html" %}
  
  <div class="vertical-align--table">
    <div class="vertical-align--table-cell">
      
      <div class="container">
        <h1>Batter</h1>
        <div class="grid">
          <div class="col-6"></div>
          <div class="col-6"></div>
          <div class="col-4"></div>
          <div class="col-8"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-5"></div>
          <div class="col-5 col--push-2"></div>
          <div class="col-9 col--centered"></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
          <div class="col-6 col--push-3"></div>
          <div class="col-3"></div>
          <div class="col-12"></div>
        </div>
      </div>
      
    </div>
  </div>
  
{% endblock %}