{% extends "layouts/layout.html" %}

{% block title %}Batter — Index {% endblock %}
{% block content %}
  
  {% include "includes/navigation.html" %}
  
  <div class="vertical-align--table">
    <div class="vertical-align--table-cell">
      
      <div class="container">
        <h1>Batter</h1>
        <div class="grid">
          <div class="col-50"></div>
          <div class="col-50"></div>
          <div class="col-20"></div>
          <div class="col-80"></div>
          <div class="col-33"></div>
          <div class="col-33"></div>
          <div class="col-33"></div>
          <div class="col-40"></div>
          <div class="col-40 col--push-20"></div>
          <div class="col-75 col--centered"></div>
          <div class="col-20"></div>
          <div class="col-20"></div>
          <div class="col-20"></div>
          <div class="col-20"></div>
          <div class="col-20"></div>
          <div class="col-50 col--push-25"></div>
          <div class="col-25"></div>
          <div class="col-100"></div>
        </div>
      </div>
      
    </div>
  </div>
  
{% endblock %}