h2 {
  text-transform: uppercase;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  opacity: 0.5;
}
h2:after {
  content: "import _test.scss";
  display: block;
}

/* Just a test */
html {
  background: whitesmoke;
  font-family: sans-serif;
  padding: 3em;
}
