<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Batter - Layout{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/styles/styles.min.css">
    
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>
      <link rel="stylesheet" href="public/styles/ie.min.css">
    <![endif]-->

  </head>
  <body>
    
    {% block content %}{% endblock %}
    
    <script type="text/javascript" src="public/scripts/scripts.min.js"></script>
  </body>
</html>
